@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:ital,wght@0,100;0,400;0,600;0,700;1,200&display=swap');

/* :root {
} */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

/* Reusable classes */
.container {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.place-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.screen-sm-hidden {
  display: none;
}

.screen-lg-hidden {
  display: none;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* for media query overflow-x: hidden; */
}

/* ////////////////////////////////////////////// */

.calculator-size {
  height: 100vh;
  width: 100vw;
}

.calculator {
  width: 28%;
  height: 90vh;
  border-left: 1px solid black;
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.button:active {
  font-size: 3.3rem;
  background-color: rgb(224, 224, 224);
}

#top-screen {
  grid-column: 1/-1;
  grid-row: 1/2;
}

#bot-screen {
  grid-column: 1/-1;
  grid-row: 2/3;
}

#screen:active {
  font-size: inherit;
  background-color: rgb(224, 224, 224);
}
